<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

<!-- Primary Meta Tags -->
<title>@ViewData["Title"] - Fabio Costa</title>
<meta name="title" content="@ViewData["Title"] - Fabio Costa">
<meta name="description" content="@ViewData["Description"]">
<meta name="author" content="Fabio Costa">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://fabiocosta.eu/">
<meta property="og:title" content="@ViewData["Title"] - Fabio Costa">
<meta property="og:description" content="@ViewData["Description"]">
<meta property="og:image" content='@(ViewData["Image"] ?? $"{Context.Request.Scheme}://{Context.Request.Host}/images/shared/profile-pic.png")'>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://fabiocosta.eu/">
<meta property="twitter:title" content="@ViewData["Title"] - Fabio Costa">
<meta property="twitter:description" content="@ViewData["Description"]">
<meta property="twitter:image" content='@(ViewData["Image"] ?? $"{Context.Request.Scheme}://{Context.Request.Host}/images/shared/profile-pic.png")'>

<link rel="canonical" href="https://@Context.Request.Host@Context.Request.Path">
<meta name="theme-color" content="#4191EB">
<meta name="robots" content="index, follow">

<!-- Favicon -->
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/favicon/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/favicon/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/favicon/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/favicon/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/favicon/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="/favicon/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/favicon/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="&nbsp;" />
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="/favicon/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="/favicon/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="/favicon/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="/favicon/mstile-310x310.png" />

<!-- Libraries -->
<link async rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
<link async href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" integrity="sha384-/rJKQnzOkEo+daG0jMjU1IwwY9unxt1NBw3Ef2fmOJ3PW/TfAg2KXVoWwMZQZtw9" crossorigin="anonymous" />
<!-- Fonts -->
<link async href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" rel="stylesheet" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link async href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/brands.min.css" rel="stylesheet" integrity="sha384-V5Z1KgRRJyY878qCx7+zUeTDm0FgjoYrbmSortFqRPGz+Ue6XDe4uIiMqB3tB/wd" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link async href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/solid.min.css" rel="stylesheet" integrity="sha384-LA8Ug4T/nhVkyhrSmSirsoAo9iDrBk8E7U80aSPeD+w3vO8PzOJIS6agGcbIwwX0" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- MAIN CSS -->
<link async rel="stylesheet" href="/css/bundle.css" asp-append-version="true" />

<!-- JS Global keys -->
<script type="text/javascript">
    const googleAnalyticsKey = @Json.Serialize(@Configuration["GoogleAnalytics:ConfigKey"]);
    const microsoftClarityKey = @Json.Serialize(@Configuration["Microsoft:ClarityKey"]);
</script>

<!-- Google analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=@Configuration["GoogleAnalytics:ConfigKey"]"></script>
<script src="~/js/gtag.js"></script>

<!-- Microsoft Clarity -->
<script src="~/js/clarity.js"></script>