<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

    <title>@ViewData["Title"] - Fabio Costa</title>

    <meta name="description" content="@ViewData["Description"]">
    <meta name="author" content="Fabio Costa">

    <meta property="og:title" content="@ViewData["Title"] - Fabio Costa">
    <meta property="og:description" content="@ViewData["Description"]">
    <meta property="og:image" content="/images/home/FabioEmoji.PNG">
    <meta property="og:image:alt" content="My Emoji">
    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@Context.Request.Host@Context.Request.Path">
    <meta property="og:site_name" content="Fabio Costa" />
    <link rel="canonical" href="@Context.Request.Host@Context.Request.Path">
    <meta name="theme-color" content="#4191EB">
    <meta name="twitter:title" content="@ViewData["Title"] - Fabio Costa">
    <meta name="twitter:description" content="@ViewData["Description"]">
    <meta name="twitter:image" content="/images/home/FabioEmoji.PNG">
    <meta name="twitter:site" content="@@fabioocosta89">
    <meta name="twitter:creator" content="@@fabioocosta89">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:dnt" content="on">
    <meta name="robots" content="index, follow">

    <!-- Favicon -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="favicon/mstile-310x310.png" />

    <!-- Libraries -->
    <link async rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
    <link async href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- Fonts -->
    <link async href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" rel="stylesheet" />
    <link async href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/brands.min.css" rel="stylesheet" />
    <link async href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/solid.min.css" rel="stylesheet" />

    <!-- MAIN CSS -->
    <link async rel="stylesheet" href="/css/bundle.css" asp-append-version="true" />

    <!-- Google analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DYVQX5PW3M"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '@Configuration["GoogleAnalytics:ConfigKey"]');
    </script>
</head>
<body>
    <div id="page-container">
        <div id="content-wrap">
            <!-- Back to Top Button -->
            <partial name="_BackTopButton" />

            <!-- MENU BAR -->
            <partial name="_Menu" />

            @RenderBody()
        </div>

        <!-- Footer -->
        <partial name="_Footer" />
    </div>

    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script async src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
