@model PostArchive<PostInfo>

@{
    bool hasPrevious = Model.CurrentPage != 1;
    bool hasNext = Model.CurrentPage != Model.TotalPages;
}

@if (Model.TotalPages != 1)
{
    <nav aria-label="pagination" data-aos="fade-up">
        <ul class="pagination justify-content-center">
            <li class='page-item @(!hasPrevious ? "disabled" : "")'>
                @if (hasPrevious)
                {
                    <a class="page-link" href="/blog/page/@(Model.CurrentPage-1)">Previous</a>
                }
                else 
                {
                    <span class="page-link">Previous</span>
                }
            </li>
            @if (Model.CurrentPage - 1 > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/blog/page/1">1</a>
                </li>
            }
            @if (Model.CurrentPage - 1 > 2)
            {
                <li class="page-item">
                    <span class="page-link">
                        ...
                    </span>
                </li>
            }
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/blog/page/@(Model.CurrentPage-1)">@(Model.CurrentPage-1)</a>
                </li>
            }
            <li class="page-item active">
                <span class="page-link">
                    @Model.CurrentPage
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="/blog/page/@(Model.CurrentPage+1)">@(Model.CurrentPage + 1)</a>
                </li>
            }
            @if (Model.CurrentPage + 1 < Model.TotalPages - 1)
            {
                <li class="page-item">
                    <span class="page-link">
                        ...
                    </span>
                </li>
            }
            @if (Model.CurrentPage + 1 < Model.TotalPages )
            {
                <li class="page-item">
                    <a class="page-link" href="/blog/page/@(Model.TotalPages)">@Model.TotalPages</a>
                </li>
            }
            <li class='page-item @(!hasNext ? "disabled" : "")'>
                @if (hasNext)
                {
                    <a class="page-link" href="/blog/page/@(Model.CurrentPage+1)">Next</a>
                }
                else
                {
                    <span class="page-link">Next</span>
                }
            </li>
        </ul>
    </nav>
}